h1 {
    font-weight: bold;
    font-size: 200%;
    color: green;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
    background-color: greenyellow;
}

main {
    font-weight: bold;
}

.sanduiche {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

.região {
    position: relative;
    display: flex;
    justify-content: center;
}

.mapa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cidade {
    display: flex;
    justify-content: center;
    align-items: center;
}