
h1 {
    font-weight: bold;
    font-size: 200%;
    color: green;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid black;
    background-color: greenyellow;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

p{
    border-radius: 0.5rem;
    border: 0.3rem solid black;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem ;
    font-size: 120%;
    font-weight: bold;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
